.container
  %h2.hdr4 Nosotros
  %br
  .box5
    %p Boutique de carnes es una empresa dedicada a la venta de carnes por mayor y menor, Nuestro diferencial se basa en que trabajamos con productos frescos, nuestras carnes provienen de animales que han sido faenados recientemente. Esto garantiza una carne de mejor sabor, preparada a la medida de nuestros clientes.

    %p Ofrecemos venta de carne de vacunos, cerdos y pollos traídos de las mejores zonas del país, así como también contamos con productos elaborados por nuestro equipo.